<% if (@teams.nil? || @sprints.nil?) %>
<div class="alert">
  <strong>Heads up!</strong> You need to create teams or sprints before you can create sprint results.
  <%= link_to 'Add a team', new_team_path, :class => "btn btn-mini" %>
  <%= link_to 'Add a sprint', new_sprint_path, :class => "btn btn-mini" %>
</div>
<% else %>

<%= form_for(@sprint_result) do |f| %>
  <% if @sprint_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sprint_result.errors.count, "error") %> prohibited this sprint_result from being saved:</h2>

      <ul>
      <% @sprint_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <label>Team</label>
    <%= f.select(:team_id, options_for_select(@teams.map { |t| [t.name, t.id] })) %>
    <label>Sprint</label>
    <%= f.select(:sprint_id, options_for_select(@sprints.map { |s| [s.name, s.id] })) %>
    <%= f.label :points_planned %> 
    <%= f.number_field :points_planned %>
    <%= f.label :person_days_planned %>
    <%= f.number_field :person_days_planned %>
    <%= f.label :points_actual %>
    <%= f.number_field :points_actual %>
    <%= f.label :person_days_actual %>
    <%= f.number_field :person_days_actual %>
    <br />
    <br />
    <%= f.submit :class => 'btn btn-success' %> 
  </fieldset>

<% end %>
<% end %>
