<% provide(:title, 'Sprint Results') %>
<h1>Sprint Results</h1>

<% if !@sprint_results.nil? %>
<table class='table table-hover table-condensed'>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th colspan='2'>Pts</th>
      <th colspan='2'>Person Days</th>
      <th colspan='2'>Pts/Person Day</th>
      <th>Pts completed</th>
      <th>Person days achieved</th>
    </tr>
    <tr>
      <th>Team</th>
      <th>Sprint</th>
      <th>planned</th>
      <th>actual</th>
      <th>planned</th>
      <th>actual</th>
      <th>planned</th>
      <th>actual</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @sprint_results.each do |sprint_result| %>
    <tr>
      <td><%= sprint_result.team.name %></td>
      <td><%= sprint_result.sprint.name %></td>
      <td><%= sprint_result.points_planned %></td>
      <td><%= sprint_result.points_actual %></td>
      <td><%= sprint_result.person_days_planned %></td>
      <td><%= sprint_result.person_days_actual %></td>
      <td><%= number_with_precision(sprint_result.points_per_person_day_planned, :precision => 2) %></td>
      <td><%= number_with_precision(sprint_result.points_per_person_day_actual, :precision => 2) %></td>
      <td><%= number_with_precision(sprint_result.percent_points_completed, :precision => 0)  %> %</td>
      <td><%= number_with_precision(sprint_result.percent_person_days_achieved, :precision => 0) %> %</td>
        <td class='actions'>
          <%= link_to(content_tag(:i, '', :class => 'icon-eye-open'), sprint_result) %> |
          <%= link_to(content_tag(:i, '', :class => 'icon-pencil'), edit_sprint_result_path(sprint_result)) %> |
          <%= link_to(content_tag(:i, '', :class => 'icon-trash'), sprint_result, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
    </tr>
<% end %>
  </tbody>
</table>
<% else %>
<div class="alert">
  <strong>Heads up!</strong> No teams have yet registed results for a sprint.
  <%= link_to 'Add a team to a sprint', new_sprint_result_path, :class => "btn btn-mini" %>
</div>

<% end %>

<br />

<%= link_to 'Add a team to a sprint', new_sprint_result_path, :class => 'btn' %>
