<% provide(:title, 'Teams') %>
<h1>Teams</h1>

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Product owner</th>
      <th>&oslash; pts completed</th>
      <th>% planned pts completed</th>
      <th>&oslash; pts / person day</th>
      <th>% person days</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @teams.each do |team| %>
    <tr>
      <td><%= team.name %></td>
      <td><%= team.product_owner %></td>
      <% if (!team.team_stats.nil?) %>
        <td>
          <% if (!team.team_stats.points_actual_mean_last_5.nil?) %>
          <%= number_with_precision(team.team_stats.points_actual_mean_last_5, :precision => 2) %>
          <small class='muted'>
            &plusmn;
            <%= number_with_precision(team.team_stats.points_actual_std_dev_last_5, :precision => 2) %>
          </small>
          <% end %>
        </td>
        <td>
          <% if (!team.team_stats.percent_points_completed_mean_last_5.nil?) %>
          <%= number_with_precision(team.team_stats.percent_points_completed_mean_last_5, :precision => 0) %>
          <small class='muted'>
            &plusmn;
            <%= number_with_precision(team.team_stats.percent_points_completed_std_dev_last_5, :precision => 0) %>
          </small>
          <% end %>
        </td>
          
        <td>
          <% if (!team.team_stats.points_per_person_day_actual_mean_last_5.nil?) %>
          <%= number_with_precision(team.team_stats.points_per_person_day_actual_mean_last_5, :precision => 2)%>
          <small class='muted'>
            &plusmn;
            <%= number_with_precision(team.team_stats.points_per_person_day_actual_std_dev_last_5, :precision => 2) %>
          </small>
          <% end %>
        </td>
        <td>
          <% if (!team.team_stats.percent_person_days_achieved_mean_last_5.nil?) %>
          <%= number_with_precision(team.team_stats.percent_person_days_achieved_mean_last_5, :precision => 0) %>
          <small class='muted'>
            &plusmn;
            <%= number_with_precision(team.team_stats.percent_person_days_achieved_std_dev_last_5, :precision => 0) %>
          </small>
          <% end %>
        </td>
      <% else %>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      <% end %>
      <td class='actions'>
        <%= link_to(content_tag(:i, '', :class => 'icon-eye-open'), team) %> |
        <%= link_to(content_tag(:i, '', :class => 'icon-pencil'), edit_team_path(team)) %> |
        <%= link_to(content_tag(:i, '', :class => 'icon-trash'), team, method: :delete, data: { confirm: 'Are you sure?' }) %></td>
    </tr>
<% end %>
  </tbody>
</table>
<small class='muted'>* Statistics based on last 5 sprints completed.</small>

<br />
<br />

<%= link_to 'New Team', new_team_path %>
