<% provide(:title, @team.name) %>
<h1><%= @team.name %></h1>
<%= render 'layouts/flash_messages' %>


<!--Current sprint info here -->
<% if !@current_sprint_result.nil? %>
<div class="alert alert-info alert-block">
  <h4><strong>Current Sprint: <%= @current_sprint_result.sprint.name %></strong></h4>
  <br/>
  <p><%= @current_sprint_result.sprint.start.to_formatted_s(:long_ordinal) %> - 
    <%= @current_sprint_result.sprint.end.to_formatted_s(:long_ordinal) %></p> 
  <p><strong>Planned Points:</strong> <%= @current_sprint_result.points_planned %> </p>
  <p><strong>Planned Person Days:</strong> <%= @current_sprint_result.person_days_planned %> </dd>
  <br/><br/><%= link_to 'Update Sprint', edit_sprint_result_path(@current_sprint_result), :class => "btn"%>
</div>
<% else %>
<div class="alert">
  <strong>Heads up!</strong> No sprint currently in progress.  
  <%= link_to 'Start Sprint', new_sprint_result_path, :class => "btn btn-mini" %>
</div>
<% end %>
  

<p>
  <b>Product owner:</b>
  <%= @team.product_owner %>
</p>

<table class="table table-hover table-condensed">
  <caption><h4>Team Statistics</h4></caption>
  <thead>
    <tr>
<% @table[:headers].each do |header| %>
      <th><%= header.html_safe %></th>
<% end %>
    </tr>
  </thead>

  <tbody>
<% @table[:rows].each do |row| %>
    <tr>
    <% row.each do |metric| %>
      <td>
        <%= metric %>
      </td>
    <% end %>
    </tr>
<% end %>
  </tbody>
</table>

<%= link_to(content_tag(:i,'', :class => 'icon-pencil') + ' Edit team', edit_team_path(@team), :class => 'btn') %>
<%= link_to(content_tag(:i,'', :class => 'icon-th-list') + ' View all teams', teams_path, :class => 'btn') %>
