<%= form_for(@sprint) do |f| %>
  <% if @sprint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sprint.errors.count, "error") %> prohibited this sprint from being saved:</h2>

      <ul>
      <% @sprint.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :start %>
    <%= f.date_select :start %>
    <%= f.label :end %>
    <%= f.date_select :end %>
    <%= f.label :work_days %>
    <%= f.number_field :work_days %>
    <br />
    <br />
    <%= f.submit :class => 'btn btn-success' %> 
  </fieldset>

<% end %>
