<% provide(:title, 'Sprint ' + @sprint.name ) %>
<h1><%= 'Sprint ' + @sprint.name %> </h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Starts: </b>
  <%= @sprint.start.to_formatted_s(:long_ordinal) %> 
</p>

<p>
  <b>Ends:</b>
  <%= @sprint.end.to_formatted_s(:long_ordinal) %>
</p>

<p>
  <b>Work days:</b>
  <%= @sprint.work_days %>
</p>


<%= link_to 'Edit', edit_sprint_path(@sprint) %> |
<%= link_to 'Back', sprints_path %>
