<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <!--%= link_to "sprint stats", '#', id: "logo" %-->
      <%= link_to image_tag("logo_250.png", alt: "Searchmetrics Sprint Stats"), '#', id:"logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Sprint Stats",    '#' %></li>
          <li><%= link_to "Help",    '#' %></li>
          <li><%= link_to "Teams", '#' %></li>
          <li><%= link_to "Sprints", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
